<h1>Password Generator</h1>

<div>
  <label for="Lenght"> Enter Lenth</label>
  <input />
</div>

<div>
  <label for="letters"> Use Lettters</label>
  <input type="checkbox" (change)="onChangeLetters()">
</div>

<div>
  <label for="letters"> Use Numbers</label>
  <input type="checkbox" (change)="onChangeNumbers()">
</div>

<div>
  <label for="letters"> Use Symbols</label>
  <input type="checkbox" (change)="onChangeSymbols()">
</div>

<div>
  <button (click)="onButtonClicks()">Generate!</button>
</div>

<div>
  <label for="">Your Password</label>
  <input [value]="password" />
</div>


